body {
  font-family: tahoma, arial, sans-serif;
  font-size: 22px;
}
.container {
  height: 310px;
  width: 280px;
  margin: auto;
  padding-top: 11%;
}
.container .question {
  text-align: right;
  margin-right: 20px;
  font-size: 14px;
}
.container .tb {
  background-color: #f5f5f5;
  border: 1px solid #d1c7ac;
  width: 265px;
  color: #333333;
  padding: 3px;
  margin-bottom: 8px;
  font-size: 22px;
  text-align: right;
}
.container .row {
  clear: left;
  height: 20%;
  position: relative;
  display: block;
}
.container .row .key-wrap {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 22%;
  cursor: pointer;
}
.container .row .key-wrap .key {
  color: #444;
  position: relative;
  top: 33%;
  background-color: #f5f5f5;
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dedede;
}
.container .row .key-wrap .key.op {
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  background-color: #d6d6d6;
  border: 1px solid #c6c6c6;
  color: #444;
}
.container .row .key-wrap .key.op .txt {
  left: 28%;
}
.container .row .key-wrap .key.enter {
  background-color: #4d90fe;
  color: #fefefe;
}
.container .row .key-wrap .key.enter:hover {
  background-color: #4d90fe;
}
.container .row .key-wrap .key:hover {
  background-color: #d6d6d6;
}
.container .txt {
  position: relative;
  left: 40%;
}
